
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


.messenger {
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 99999;
  margin: 0px;
  padding: 0px;
}

.chatbox {
  z-index: 2147483000 !important;
  position: fixed !important;
  bottom: 65px !important;
  right: 30px !important;
  height: 80vh;
  width: 25vw;
  min-height: 250px !important;
  max-height: 590px !important;
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.16) !important;
  border-radius: 8px !important;
  opacity: 1 !important;  
  overflow: hidden !important; 

  .header {
    z-index: 2147483001;    
    top: 0;
    right: 0;
    left: 0;    
    height: 8vh;
    min-height: 8vh;
    color: #fff;
    font-size: 15px;
    font-weight: bold;    
    padding-left: 10px;
    vertical-align: middle;
    line-height: 8vh;
    background-color: #0a6ac9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);        
  }
  
  .body {
    background-color: #fff;
    color: #000;
    height: 60vh;
    overflow-y: auto;
    
    .keep-bottom{
      bottom: 0px;
      position: absolute;
      .chat-text {
        border: none;
      }
    }
  }
}

.hidden {
  display: none;
}

.lm-container{      
      max-width: 25vw;
      margin: 20px;
      margin-top: 10px;
      padding-bottom: 35px;
  }    

.badge-danger{
    background-color: #d9534f;
}